main{
    border: 1px solid rgb(121, 35, 35);
    background-color: rgb(255, 255, 255);

}

.casa{
    border: 1px solid rgb(7, 7, 7);
    width: 150px;
    height: 150px;
    font-size: 80px;
    color: rgb(17, 17, 17);
    text-align: center;
    line-height: 150px;
}
.linha{
    display: grid;
    grid-template-columns: 150px 150px 150px;
    color: black;
}
body{
    display: flex;
    justify-content: center;
}
html{
    background-color: black;
}